body{
  max-width: 800px;
  margin: auto;
  text-align: center;
  line-height: 20px;
}

h1, nav{
  text-align: center;
}

.philippines{
  margin-top: 30px;
}

h2{
  margin-top: 30px;
}

footer{
  margin-top: 60px;
}